@import "../../../index.scss";

.Form {
  position: relative;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;

  @include mobile-md {
    padding: 20px;
  }

  h3 {
    margin-bottom: 30px;
  }

  &_label {
    display: none;
  }

  &_field {
    margin-bottom: 30px;
  }

  &_input,
  &_textarea {
    display: block;
    width: 100%;
    background-color: transparent;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 7px;
    border-bottom: 2px solid #929292;
    color: #222;
  }

  &_input {
    &:valid {
      border-color: #6e9941;
    }

    &:not(:valid) {
      border-color: #c63030;
    }

    &:placeholder-shown {
      border-color: #929292;
    }
  }

  &_textarea {
    max-width: 300px;
    min-width: 300px;
    max-height: 300px;

    @include mobile-md {
      max-width: 240px;
      min-width: 240px;
      max-height: 240px;
    }
  }
}
