@import "../../../index.scss";

.Header {
  position: relative;
  margin-top: 100px;

  @include mobile-sm {
    margin-top: 134px;
  }

  .Section_content {
    padding: 0;
  }

  &_container {
    min-height: calc(100vh - 140px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablet-md {
      min-height: calc(100vh - 120px);
    }

    @include mobile-sm {
      min-height: calc(100vh - 153px);
    }
  }

  &_textContainer {
    max-width: 90%;

    @include desktop {
      max-width: 100%;
    }
  }

  &_textLeft {
    text-align: left;
  }

  &_textRight {
    text-align: right;
  }

  &_headingDivider {
    height: 400px;
    max-height: 40vh;
  }
}
