.VideoSection {
  text-align: center;

  &_itemsContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
  }

  &_item {
    &Caption {
      margin-top: 20px;
      font-weight: 500;
    }
  }
}
