@import "../../../index.scss";

.Benefits {
  &_content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &_item {
    width: calc(50% - 30px);
    display: flex;

    &:nth-of-type(n + 3) {
      margin-top: 70px;
    }

    @include tablet-lg {
      width: 590px;
      margin: 0 auto;

      &:not(:first-of-type) {
        margin-top: 70px;
      }
    }

    @include mobile-lg {
      width: 100%;
    }

    @include mobile-md {
      display: block;
      text-align: center;
    }

    &Image {
      width: 70px;
      margin-right: 20px;

      @include mobile-md {
        margin-right: 0;
      }
    }

    h4 {
      margin-bottom: 10px;
    }
  }
}
