$desktop-width: 1240px;
$tablet-lg-width: 960px;
$tablet-md-width: 800px;

@mixin desktop {
  @media (max-width: $desktop-width) {
    @content;
  }
}

@mixin tablet-lg {
  @media (max-width: $tablet-lg-width) {
    @content;
  }
}

@mixin tablet-md {
  @media (max-width: $tablet-md-width) {
    @content;
  }
}
